{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>COVID Trace</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="images/CT_logo.png" alt="">
            </div>
        </div>

        <div class="welcome-text">
            <h1>Assessing risk and helping to flatten the curve.</h1>
            <a href="#">Contact Us</a>
        </div>
    </header>
</body>
</html>



{% endblock %}
